<h3>Купленные билеты</h3>

<p>
  <a>Пользователь</a>
  <%= current_user.full_name %>
</p>

<table class="table table-striped">
    <thead>
      <tr>
    <div class="row">
      <div class="col-md-2">
        <th>ФИО</th>
      </div>
      <div class="col-md-2">
        <th>Маршрут</th>
      </div>
      <div class="col-md-2">
        <th>Поезд №</th>
      </div>
      <div class="col-md-2">
        <th>Начальная станция</th>
      </div>
      <div class="col-md-2">
        <th>Конечная станция</th>
      </div>
    </div>
      </tr>
    </thead>
    <tbody>
<%= render @tickets %>
    </tbody>
  </table class="table table-striped">
<div>
  <%= link_to t('common.new_search'), new_search_path, class: 'btn btn-primary' %>
</div>


