<table>
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Маршрут</th>
        <th>Поезд №</th>
        <th>Начальная станция</th>
        <th>Конечная станция</th>
      </tr>
    </thead>
    <tbody>
<%= render @ticket %>
    </tbody>
  </table>
<div>
  <%= link_to 'Посмотреть все билеты', tickets_path %>
</div>
