<p>
  <strong><%= t('admin.carriages.attributes.bottom_seats') %>:</strong>
  <%= @carriage.bottom_seats %>
</p>

<p>
  <strong><%= t('admin.carriages.attributes.top_seats') %>:</strong>
  <%= @carriage.top_seats %>
</p>
